# MySQL
MYSQL_DATABASE=
MYSQL_ROOT_PASSWORD=
MYSQL_PORT=
MYSQLDB_DOCKER_PORT=

# Spring Boot
SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=
SPRING_BOOT_PORT=

#JWT
JWT_EXPIRATION=
JWT_SECRET=

#Telegram bot
TELEGRAM_BOT_TOKEN=
TELEGRAM_BOT_USERNAME=
TELEGRAM_CHAT_ID=

#Stripe API
STRIPE_SECRET_KEY=
PAYMENT_SUCCESS_URL=
PAYMENT_CANCEL_URL=